@model IEnumerable<Assignment1.Models.Ingredient>

<tr>
    <td><label asp-for="Name">Name: </label></td>
    <td class="secondCol"><input asp-for="Name"><br /></td>
</tr>
<tr>
    <td><label asp-for="Quantity">Quantity: </label></td>
    <td class="secondCol"><input asp-for="Quantity"><br /></td>
</tr>
<tr>
    <td><label asp-for="UnitOfMeasurement">UnitOfMeasurement: </label></td>
    <td class="secondCol">
        <select asp-for="UnitOfMeasurement">
            <option value=0>Litter</option>
            <option value=1>ml</option>
            <option value=2>gram</option>
            <option value=3>kg</option>
            <option value=4>oz</option>
            <option value=5>fl_oz</option>
            <option value=6>pound</option>
            <option value=7>tbsp</option>
            <option value=8>tsp</option>
        </select><br />
    </td>
</tr>


@*@model List<Assignment1.Models.Ingredient>

    <tr>
        <td><label asp-for="@Model[0].Name">Name: </label></td>
        <td class="secondCol"><input asp-for="@Model[0].Name"><br /></td>
    </tr>
    <tr>
        <td><label asp-for="@Model[0].Quantity">Quantity: </label></td>
        <td class="secondCol"><input asp-for="@Model[0].Quantity"><br /></td>
    </tr>
    <tr>
        <td><label asp-for="@Model[0].UnitOfMeasurement">UnitOfMeasurement: </label></td>
        <td class="secondCol">
            <select asp-for="@Model[0].UnitOfMeasurement">
                <option value=0>Litter</option>
                <option value=1>ml</option>
                <option value=2>gram</option>
                <option value=3>kg</option>
                <option value=4>oz</option>
                <option value=5>fl_oz</option>
                <option value=6>pound</option>
                <option value=7>tbsp</option>
                <option value=8>tsp</option>
            </select><br />
        </td>
    </tr>
*@