@model IEnumerable<Assignment1.Models.Recipe>

@{
    ViewData["Title"] = "All Recipes";
}

@using (Html.BeginForm("AllRecipes", "Recipe", FormMethod.Get))
{
    <fieldset>
        <legend>Filter</legend>
        @Html.Label("recipeName", "Recipe Name:  ")
        @Html.TextBox("recipeName")

        @Html.Label("category", "  Category:  ")
        <select name="category" asp-items="@new SelectList(Model
                                                    .GroupBy(rec => rec.Category)
                                                    .Select(rec => rec.Key))">
            <option value=""></option>
        </select>

        <input type="submit" value="Search" />
    </fieldset>
}
<table>
    <thead>
        <tr class="alternate">
            <td><h3>Title</h3></td>
            <td><h3>Preparation time</h3></td>
            <td><h3>Cook time</h3></td>
        </tr>
    </thead>
    @{ int counter = 1; }
    @foreach (Assignment1.Models.Recipe recipe in Model)
    {
        @if (recipe.Title.ToLower().Contains(Context.Request.Query["recipeName"].ToString().ToLower()) && recipe.Category.ToLower().Contains(Context.Request.Query["category"].ToString().ToLower()))
        {
            <tbody>
                <tr class="@((counter % 2 == 1) ? "alternate" : "")">
                    @*sets the class as alternate for the odd rows according to the RecipeID*@
                    <td width="60%">
                        <a asp-controller="Recipe" asp-action="DisplayPage" asp-route-recipeID="@recipe.RecipeID">@recipe.Title</a>@*passes the RecipeID of the clicked recipe through the URL*@
                    </td>
                    <td class="allRecipesTD" width="24%">@recipe.TotalTime</td>
                    <td class="allRecipesTD" width="16%">@recipe.CookTime</td>
                </tr>
            </tbody>
            counter++;
        }
    }
</table>