@model IEnumerable<Assignment1.Models.Recipe>

@{
    ViewData["Title"] = "All Recipes";
}

<table>
    <thead>
        <tr class="alternate">
            <td><h3>Title</h3></td>
            <td><h3>Preparation time</h3></td>
            <td><h3>Cook time</h3></td>
        </tr>
    </thead>
@foreach (Assignment1.Models.Recipe recipe in Model)
{   
    <tbody>
        <tr class="@((recipe.RecipeID % 2 == 1) ? "alternate" : "")"> @*sets the class as alternate for the odd rows according to the RecipeID*@
            <td width="60%">
                <a asp-action="DisplayPage" asp-route-recipeID="@recipe.RecipeID">@recipe.Title</a>@*passes the RecipeID of the clicked recipe through the URL*@
            </td>
            <td class="allRecipesTD" width="24%">@recipe.TotalTime</td>
            <td class="allRecipesTD" width="16%">@recipe.CookTime</td>
        </tr>
    </tbody>
}
</table>