@model IEnumerable<Assignment1.Models.Recipe>

@{
    ViewData["Title"] = "Recipe Page";
}

@foreach (Assignment1.Models.Recipe r in Model)
{
    <ul>
        <li><h2>@r.Title</h2></li>
        <li>Total time: @r.TotalTime min</li>
        <li>Cooking time: @r.CookTime min</li>
        <li>Ingredients:</li>
        @*<li>
            <ul>
                @foreach (Assignment1.Models.Ingredient i in r.Ingredients)
                {
                    if (i.Quantity > 0)
                    {
                        <li>@i.Name - @i.Quantity @i.UnitOfMeasurement</li>
                    }
                }

            </ul>
        </li>*@
        <li>Instructions: @r.Instructions</li>
    </ul>
}