@model Assignment1.Models.RecipeInput

@{
    ViewData["Title"] = "Recipe Page";
}

<ul>
    <li><h2>@Model.Title</h2></li>
    <li>Total time: @Model.TotalTime min</li>
    <li>Cooking time: @Model.CookTime min</li>
    <li>Ingredients:</li>
    <li>
        <ul>
            @foreach (Assignment1.Models.IngredientInput i in Model.Ingredients)
            {
                <li>@i.Name - @i.Quantity @i.UnitOfMeasurement</li>
            }
        </ul>
    </li>
    <li>Instructions: @Model.Instructions</li>
</ul>
<div><a asp-controller="CRUD" asp-action="updateRecipe" asp-route-recipeID="@Model.RecipeID">Update Recipe</a></div>