@model IEnumerable<Assignment1.Models.Recipe>

@{
    ViewData["Title"] = "Recipe Page";
}

@foreach (Assignment1.Models.Recipe r in Model)
{
    <table>
        <tr><td><h2>@r.Title</h2></td></tr>
        <tr><td>Preparation time: @r.PrepTime</td></tr>
        <tr><td>Cook time: @r.CookTime</td></tr>
        <tr><td>Ingredients: @r.Ingredients</td></tr>
        <tr><td>Instructions: @r.Instructions</td></tr>
    </table>
}
